name: CICD pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  #steps 1: Compile and test job
  test:
    name: compile and test java project
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: compile and test with maven
      run: mvn test
  #steps 2: Security scan job
  security:
    name: security scan with trivy
    runs-on: self-hosted
    needs: test
    steps:
      - uses: actions/checkout@v4
      # Install Trivy
      - name: Install Trivy
        run: |
          sudo apt-get install wget gnupg -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y
      # Run Trivy scan
      - name: trivy sacn
        run: trivy fs --format table -o fs-report.txt .
      # upload the scan report as an artifact
      - name: upload scan report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-scan-report
          path: fs-report.txt
  #steps 3: Build and Sonar scan
  build_project_and_sonar_scan:
    runs-on: self-hosted
    needs: security
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build project
      run: mvn package
    - name: upload scan report
      uses: actions/upload-artifact@v4
      with:
          name: app-jar
          path: target/*.jar
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

    
